.wrapper {
    position: relative;
}

.app {
    /* display: flex;
    flex-direction: column; */
    width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #fff;
}

.container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.ant-tabs-nav-wrap {
    justify-content: center !important;
}

.pagination-move-center {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.spin {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .app {
        width: 100%;
    }

    .container {
        justify-content: center;
    }
}